<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/search_user_index', users: @records %>
<% else @model == 'book' %>
  <h3>Books search for "<%= @content %>"</h3>
  <%= render 'books/search_index', books: @records %>
<% end %>